@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@800&display=swap');

.cardBody {
    position: relative;
    width: 100%;
    background-color: black;
    overflow: hidden;
}

.cardBody:hover .hero {
    transform: scale(1.1);
    opacity: 1;
}

/* .cardBody:hover  */

.hero {
    height: 100%;
    width: 100%;
    opacity: 0.6;
    transition: all 0.2s ease-in-out;
}

.icon {
    position: absolute;
    height: 15%;
    left: 50%;
    top: 40%;
    transform: translate(-50%, -50%);
}

.title {
    position: absolute;
    left: 50%;
    top: 60%;
    transform: translate(-50%, -50%);
    font-size: 48px;
    color: white;
    font-family: "Orbitron";
}