@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@800&display=swap');

.bgContainer {
    height: 50vh;
    position: relative;
}

.CtaSection {
    width: 100%;
}

.title {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: "Orbitron";
    font-size: 74px;
}

.blueLine {
    position: absolute;
    top: 60%;
    left: 53%;
    transform: translate(-50%, -50%);
}

.info {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: "Orbitron";
    font-size: 20px;
    width: 80%;
}

.emailContainer {
    background-color: white;
    position: absolute;
    top: 120%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 90px;
    width: 719px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0;
    padding: 10px 10px;
}

.email {
    font-family: "Orbitron";
    font-size: 20px;
    background-color: white;
    border: none;
    padding: 10px;
}

.button {
    font-family: "Orbitron";
    font-size: 20px;
    width: 50%;
    height: 100%;
    background-color: #57B8FF;
    border: none;
    color: white;
    transition: all 0.2s ease-in-out;
}

.button:hover {
    background-color: #FDCF44;
    cursor: pointer;
}